
header {
    text-align: center;
    background-color: rgba(50, 51, 51, 0.556);
    padding: 0 0 0px 0;
  } 
.contact{
    word-spacing: 10px;
    
}
.contact a:hover {color: rgb(0, 0, 0);}
.contact a:visited {color:rgb(255, 255, 255)}


nav {
   text-align: center;
   word-spacing: 10px;
   } 
nav div a:hover {color:aqua}
nav div a:visited {color: cadetblue}