
header {
    text-align: center;
    background-color: rgba(50, 51, 51, 0.556);
    padding: 0 0 0px 0;
  } 
.contact{
    word-spacing: 10px;
    
}
.contact a:link {color:black}
.contact a:hover {color: rgba(0, 0, 0, 0.467);}
.contact a:visited {color:rgb(255, 255, 255)}


nav {
   text-align: center;
   word-spacing: 10px;
   } 
nav div a:link {color:aqua}
nav div a:hover {color:rgba(0, 255, 255, 0.336)}
nav div a:visited {color: cadetblue}
.home {
  text-align: center;
  font-size: 50px;
}
.resume {
  text-align: center;
  font-size: 15px;
}

.education {
  font-size: 45px;
  text-align:center;
}

.bronco{
  font-size: 30px;
}
.GPA {
 font-size: 30px;
}
.experience {
  font-size: 45px;
  text-align: center;
}

.personal {
  font-size: 45px;
  text-align: center;
}
#headshot {
  width: 100px;
  height: 100px;

}
#headshot {
  transition: transform 0.3s ease-in-out;
}

#headshot:hover {
  transform: scale(1.1); /* Increase the size on hover */
}

footer {
  text-align: center;
  background-color: rgba(50, 51, 51, 0.556);
  padding: 20px 20px 20px 20px;
}